<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style/login.css"> -->
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
      rel="stylesheet"
    />

    <title>Log in</title>
</head>
<body>
  <div class="container" style="padding: 5%">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Sign in</h1>
      <form action="/login" method="post">
        <br>
        <input type="text" name="username" id="username" placeholder="Username" class="form-control">
        <br>
        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </br>
        <button class="btn btn-primary">Login</button>
      </form>
    </main>
  </div>
</body>
</html>
